.main {
  background-color: purple;
  width: 100%;
  background-image: url("/assets/backgroundPC.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
  display: grid;
  overflow:hidden;
  z-index: 0;
}
.line {
  width: 90%;
  height: 3px;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
}

.killCounter {
  position: fixed;
  z-index: 1;
  color: white;
  background-color: black;
  border-bottom: solid 2px;
  border-right: solid 2px;
  border-color: white;
  padding: 5px;
}

button {
  margin: 2.5%;
}

.imageArt {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  opacity: 0;
  top: -100%;
  animation-name: dropdown;
  animation-duration: 20s;
  cursor: pointer;
}

.selectedImage {
  width: 80%;
  object-fit:scale-down;
  cursor: pointer;
}

.cancel {
  cursor: pointer;
  padding-bottom: 5vh;
  padding-top: 5vh;
  padding-left: 70%;
  font-size: 50px;
}

/* animation */

@keyframes dropdown {
  0% {
    opacity: 1;
  }

  10% {
    top: -20%;
  }

  99% {
    top: 120%;
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 120%;
  }
}

.timeline {
  background-color: black;
  color: white;
  z-index: 1;
  text-align: center;
  position: relative;
  width: 100%;
}

/* pc */
@media only screen and (min-width: 600px) {
  .imageArt {
    width: 20%;
  }
  .timeline {
    position:fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);;
  }
  .main {
  height: 100vh;
  }

  .selectedImage {
    height: 60vh;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
/* mobile */
@media only screen and (max-width: 600px) {

  .timeline {
    height: 64.5vh;
    padding-top: 20px;
    position: fixed;
    margin-top: 33vh;
  }

  .imageArt {
    width: 30%;
  }
  .main {
  height: 33vh;
  margin-bottom: 64.5vh;
  }

  .selectedImage {
    height: 30vh;
  }
}
